{% extends "base.html" %}

{% block title %}Single Key Generator{% endblock %}

{% block content %}

<form action="" method="POST">
   <div>
      <fieldset>
         <legend>Single Key Generator</legend>
         <label for="key_generator_textbox">Encrypt key with:</label>
         <input type="password" name="key_generator_textbox" placeholder="password">
         <input type="submit" name="generate_key_button" value="generate and download" />
      </fieldset>
   </div>
</form>


{% endblock %}