{% extends "base.html" %}

{% block title %}Password Generator{% endblock %}

{% block content %}

<form action="" class="row g-3 align-items-center" method="POST">

   <div class="d-flex flex-column">
      <div class="input-group">

         <label class="input-group-text" for="password_complexity_dropdown">Password Complexity</label>
         <select class="form-select" id="password_complexity_dropdown" name="password_complexity_dropdown">
            <option value="ascii">Letter</option>
            <option value="ascii+num">Letter+0-9</option>
            <option value="ascii+num+sym">Letter+0-9+Symbols</option>
         </select>
      </div>
      <div class="input-group">
         <label class="input-group-text" for="password_length">Password Length</label>
         <select class="form-select" id="password_length" name="password_length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
         </select>
      </div>
      <div class="input-group">
         <input class="btn btn-primary" type="submit" name="generate_password_button" value="generate password" />
         <span class="input-group-text" for="generate_password_button">
            {% if result %}
               {{ result }}
            {% else %}
               select options above to generate password
            {% endif %}
            </label>
      </div>

   </div>
</form>


{% endblock %}