
{% extends "base.html" %}

{% block title %}Password Generator{% endblock %}

{% block content %}


   <form action="" method="POST">

      <div>
         <fieldset>
            <legend>Single Key Generator</legend>
            <label for="key_generator_textbox">Encrypt key with:</label>
            <input type="password" name="key_generator_textbox" placeholder="password">
            <input type="submit" name="generate_key_button" value="generate and download" />
         </fieldset>
      </div>

      <br>

      <div>
         <fieldset>
            <legend>Single Key File Encryption</legend>
            <label for="user_file_to_decrypt_single_key">File to Encrypt:</label>
            <br>
            <input type="file" name="user_file_to_encrypt_single_key" />
            <input type="submit" name="upload_file_button" value="encrypt file and get key" />
         </fieldset>
      </div>

      <br>

      <div>
         <fieldset>
            <legend>Decrypt File with Single Key</legend>
            <label for="user_file_to_decrypt_single_key">File to decrypt</label>
            <br>
            <input type="file" name="user_file_to_decrypt_single_key" value="File to Decrypt" />
            <br><br>
            <label for="single_key_file">Single key file:</label><br>
            <input type="file" name="single_key_file" />
            <input type="submit" name="upload_file_button" value="decrypt file and download" />
         </fieldset>
      </div>
    </form>
      

{% endblock %}