{% extends "base.html" %} {% block title %}RSA File Decryption{% endblock %} {%
block content %}
<form action="" method="POST" enctype="multipart/form-data">
  <div>
    <fieldset>
      <legend>RSA Key File Decryption</legend>
      <label for="rsa_key_password">Password used with private key:</label>
      <input
        type="password"
        name="rsa_key_password"
        placeholder="password"
      />
      <br /><br />
      <label for="user_file_rsa_private_key">Private Key File:</label>
      <br />
      <input type="file" name="user_file_rsa_private_key" />
      <br /><br />
      <label for="user_file_to_decrypt_single_key">File to Decrypt:</label>
      <br />
      <input type="file" name="user_file_to_decrypt_rsa_file" />
      <input
        type="submit"
        name="upload_file_button"
        value="encrypt file and get key"
      />
    </fieldset>
  </div>
</form>
{% endblock %}
